.inteira {
    width: 414px;
    background-color: #E5E5E5;
    display: flex;
    flex-direction: column;   
    align-items: center;

}

.header {
    width: 414px;
    height: 92px;
    background-color: #CF2B2B;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    padding: 21px;
    color:#FFFFFF;
    font-weight: 400;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
}

h1 {
    font-family: 'Righteous', cursive;
    font-size: 44px;
    box-sizing: border-box;
}
h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    box-sizing: border-box;
}

.container {
    background-color:  #E5E5E5;
    margin-top: 92px;
    box-sizing: border-box;
    margin-right: 19px;
    width: 414px;
    margin-bottom: 108px;
}

.box-opcoes h1 {
    font-size: 26px;
    color: #333333;
    width: 414px;
    padding-top: 32px;
    padding-left: 19px;
    box-sizing: border-box;
}

.opcoes {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    overflow-x: scroll;

}
.opcoes::-webkit-scrollbar {
    display: none;
}

.opcao {
    width: 172px;
    padding-top: 18px;
    padding-bottom: 18px;
    background-color: #FFFFFF;;
    margin-left: 19px;
    margin-top: 17px;
    box-shadow: 0px 0px 10px -4px #00000040;
    border-radius: 9px;
    box-sizing: border-box;
    position: relative;
}

.opcao img {
    border-radius: 4px;
    width: 144px;
    height: 87px;
    margin-left: 14px;
    margin-right: 14px;
}

.opcao h3{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    box-sizing: border-box;
    font-weight: 700;
    margin-left: 14px;
    margin-top: 8px;
    color: #333333;
}

.opcao h4{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    box-sizing: border-box;
    font-weight: 300;
    margin-left: 14px;
    margin-top: 10px;
    color: #A6A6A6;
}

.opcao h5{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    box-sizing: border-box;
    font-weight: 300;
    margin-left: 14px;
    margin-top: 10px;
    color: #000000;
}

.bottom {
    height: 92px;
    width: 414px;
    background-color: #FFFFFF;
    position: fixed;
    bottom: 0;
    left: 0;
    box-sizing: border-box;
    padding: 15px 25px;
}

.selecao {
    width: 364px;
    height: 61px;
    background-color: #CBCBCB;
    color: #FFFFFF;
    border-radius: 50px;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    font-size: 20px;
    font-weight: 400;
    padding: 8px 80px;
    text-align: center;
    border: none;
}

.bottom .selecao.ativado {
    background-color: #32B72F;
    font-weight: bold;
  }

.selecionado {
    box-shadow: 0px 0px 10px -4px rgb(0 0 0 / 25%), inset 0px 0px 0px 5px #32b72f;
}

.opcao .check {
    color: #32B72F;
    position: absolute;
    right: 10px;
    bottom: 10px;
    width: 15.44px;
    height: 15.44px;
    opacity: 0;
}

.container .box-opcoes .opcao.selecionado .check {
    opacity: 1;
}